
<tr class="<%= tag.status %>" id = "objId_<%=tag.id%>">

	<td>
  	<%= render :partial => "shared/action",
  	 :locals =>	{
  	 	 	:action => 'edit',
  		 	:id => tag.id, 
  			:label => 'Edit', 
  			:title => 'Edit Tag',
  			:fmt => 'js'}
		 %>
	</td>
  <td><%= link_to image_tag("delete-item.png"), { :action => "destroy", :id => tag.id, :format => 'js', :remote => true },
          :data => { :confirm => 'Are you sure?' }, :method => :delete, :class=> :delete %> </td>
          
  <% Tag::INDEX_FIELDS.each do |i| %>
  	<%= content_tag :td, tag.send(i) %>
  <% end%>
</tr>

