<p>
  <%= label :object, :With, "Journal Name", :class=>"incontent" %>
  <%= f.text_field :With , :size=>'80' %>
<br />
   <%= label :object, :Details, "Volume/Page details", :class=>"incontent" %>
   <%= f.text_area :Details, :size=>'100x1' %>
</p>
<p>
   <%= label :object, :link, "Link to Journal or paper", :class=>"incontent" %>
   <%= f.text_field :link, :size=>"80" %> 
   <%= link_to image_tag('external-link.png'), @object.link %>
</p>
 

